// Main Background and global styles

$color-background: #F3F2EF;
$main-column-gap: 2%;

// Adjustable Heights

$header-height: 9.2rem;
$footer-height: 27.2rem;
$footer-height-mobile: 13.8rem;


// Colors for the main navigation boxes

$color-box-background: #ffffff;

// Fonts

$main-font: "Inter", Helvetica, sans-serif;
$color-font-gray: #4d4d4d;

// Global Background Colors

$red: #f57373;

//Breakpoints: 

$mobile-small: 500px;
$tablet-landscape: 1025px;
$tablet-portrait: 769px